<div class="row" *ngFor="let proyecto of proyecto">
  <h1>Portfolio</h1>
  <button type="button" class="btn btn-primary" routerLink="/" *ngIf="isLogged">
    Editar persona
  </button>
  <div class="col-sm-2 col-md-2 col-lg-2 mb-3">
    <img src="{{proyecto.imagen}}" alt="imagen portfolio" class="img-thumbnail" style="width: 100px;">
  </div>
  <div class="col-sm-10 col-md-10 col-lg-10">
    <h5 class="text-white m-0 p-0">{{proyecto.nombre}}</h5>
    <br>
    <p class="text-white m-0 p-0">{{proyecto.descripcion}} <br>
      <i class="text-muted">{{proyecto.descripcion}}</i>
      <br>
    </p>
  </div>
  <td *ngIf="isLogged">
    <button class="btn btn-light" routerLink="/editedu/{{proyecto.id}}">
      <i class="bi bi-pencil-fill"></i>EDITAR</button>
  </td>
  <td *ngIf="isLogged">
    <button class="btn btn-danger" (click)="delete(proyecto.id)">
      <i class="bi bi-trash-fill"></i> BORRAR</button>
  </td>
</div>



<!-- <div class="row">
  <div class="col-sm-2 col-md-2 col-lg-2 mb-3">
      <img src="../../../assets/img/arg-programa.png" alt="argentina programa" class="img-thumbnail" style="width: 100px;">
  </div>
  <div class="col-sm-10 col-md-10 col-lg-10">
      <h5 class="text-white m-0 p-0">Argentina Programa</h5>
      <br>
      <p class="text-white m-0 p-0"> Curso #SéProgramar <br>
          <i class="text-muted">06/2022 - 06/2022</i>
          <br>
          <b>Promoción 2022</b>
      </p>
  </div>
</div>
<div class="row">
  <div class="col-sm-2 mb-3">
      <img src="../../../assets/img/Udemy_logo.svg.png" alt="Udemy" class="img-thumbnail" style="width: 100px;">
  </div>
  <div class="col-10">
      <h5 class="text-white m-0 p-0">Udemy</h5>
      <br>
      <p class="text-white m-0 p-0">Curso Desarrollo Web Completo<br>
          <i class="text-muted">Actualidad.</i>
          <br>
      </p>
  </div>
  <a name="hard"></a>
</div> -->