<!-- <div id="educacion" class="mt-5 container">
    <div class="d-grid align-items-center rounded bg-gradient p-3">
            <h3 class="text-white m-0 p-0">Educación</h3>
    </div>
</div> -->

<!-- id es para que tome el link interno del footer -->
<div class="mt-5 container" id="educacion">
    <div class="d-grid align-items-center rounded bg-gradient p-5">
      <div class="row">
        <div class="col text-start">
          <h1>Educación</h1>
        </div>
        <div class="col text-end">
          <button
            type="button"
            class="btn btn-sm btn-outline-secondary bi bi-plus-square"
            routerLink="/nuevaedu"
            *ngIf="isLogged"
          >
            Agregar
          </button>
        </div>
      </div>
      <!-- Muestra leyenda en caso de que no hayan valores cargados -->
      <div class="row" *ngIf="educacion?.length == 0">
        <p style="color: rgb(196, 162, 162)">No hay educacion para mostrar</p>
      </div>
  
      <div class="list-group-item">
        <ul>
          <li *ngFor="let Educacion of educacion">
            <div class="row align-items-center">
              <div class="col-12 col-sm-3">
                <h4>{{ Educacion.titulo }}</h4>
              </div>
              <div class="col-12 col-sm-4">
                <h5>{{ Educacion.nombreInstitucion }}</h5>
              </div>
              <div class="col-12 col-sm-3">
                <p>{{ Educacion.fechainicio }} a {{ Educacion.fechafin }}</p>
              </div>
              <div class="col-6 col-sm-1">
                <button
                  *ngIf="isLogged"
                  class="bi bi-pencil btn btn-sm btn-outline-dark"
                  routerLink="/editedu/{{ Educacion.id }}"
                >
                  Editar
                </button>
              </div>
              <div class="col-6 col-sm-1">
                <button
                  *ngIf="isLogged"
                  class="bi bi-trash3-fill btn btn-sm btn-outline-danger"
                  (click)="delete(Educacion.id)"
                >
                  Borrar
                </button>
              </div>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </div>

            <!-- <div class="row">
                <div class="col-sm-2 col-md-2 col-lg-2 mb-3">
                    <img src="../../../assets/img/logos_coderhouse.png" alt="coderhouse" class="img-thumbnail" style="width: 100px;">
                </div>
                <div class="col-sm-10 col-md-10 col-lg-10">
                    <h5 class="text-white m-0 p-0">Coder House</h5>
                    <br>
                    <p class="text-white m-0 p-0">Desarrollador Web <br>
                        <i class="text-muted">10/2022 - 11/2022.</i>
                        <br>
                    </p>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-2 col-md-2 col-lg-2 mb-3">
                    <img src="../../../assets/img/arg-programa.png" alt="argentina programa" class="img-thumbnail" style="width: 100px;">
                </div>
                <div class="col-sm-10 col-md-10 col-lg-10">
                    <h5 class="text-white m-0 p-0">Argentina Programa</h5>
                    <br>
                    <p class="text-white m-0 p-0"> Curso #SéProgramar <br>
                        <i class="text-muted">06/2022 - 06/2022</i>
                        <br>
                        <b>Promoción 2022</b>
                    </p>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-2 mb-3">
                    <img src="../../../assets/img/Udemy_logo.svg.png" alt="Udemy" class="img-thumbnail" style="width: 100px;">
                </div>
                <div class="col-10">
                    <h5 class="text-white m-0 p-0">Udemy</h5>
                    <br>
                    <p class="text-white m-0 p-0">Curso Desarrollo Web Completo<br>
                        <i class="text-muted">Actualidad.</i>
                        <br>
                    </p>
                </div>
                <a name="hard"></a>
            </div> -->
