<body class="body-login">
  <nav class="navbar shadow">
    <div class="container-fluid">
      <div class="d-flex gap-3 align-items-center me-3" style="width:min-content">
        <a href="../../app.component.html"><img src="../../../assets/img/arg-programa.png" alt="argentinaPrograma"
            height="40" class=" rounded">
        </a>
        <div class="text-black">
          Argentina Programa
        </div>
      </div>
    </div>
  </nav>

  <!-- Modal -->
  <section class="login">
    <div class="container text-center">
      <div class="row">
        <div class="col-2">
        </div>
        <div id="modal-content" class="col-8 modal-content">
          <div class="modal-body">
            <form>
              <div class="mb-3">
                <h2 class="text-black modal-text">Login.</h2>
                <form #f="ngForm" (ngSubmit)="onLogin()" novalidate>

                  <div class="form-outline form-white mb-4">
                    <input type="email" id="nombreUsuario" name="nombreUsuario" class="form-control form-control-lg"
                      [(ngModel)]="nombreUsuario" required />
                    <label class="form-label" for="nombreUsuario">Usuario</label>
                  </div>
  
                  <div class="form-outline form-white mb-4">
                    <input type="password" id="password" name="password" class="form-control form-control-lg" [(ngModel)]="password"
                      required />
                    <label class="form-label" for="password">Password</label>
                  </div>
  
                  <!-- <p class="small mb-5 pb-lg-2"><a class="text-white-50" href="#!">Forgot password?</a></p> -->
  
                  <button class="btn btn-outline-light btn-primary px-5" type="submit">Login</button>
  
                </form>
                <small>Si no tienes una cuenta, <a routerLink="/registro">Registrate</a> aqui</small>
              </div>
              <div class="col-2">
              </div>
           </form>
          </div>
        </div>
      </div>
    </div>
  <!-- Footer -->
  <footer class="footer-login shadow">
    <p class="text-center p-4 text-black">Todos los derechos Reservados 2022 &copy;</p>
  </footer>


  <!--
                  <form #f="ngForm" (ngSubmit)="onLogin()" novalidate>

                  <div class="mb-3">
                    <input type="email" id="nombreUsuario" name="nombreUsuario" class="form-control form-control-lg"
                    [(ngModel)]="nombreUsuario" required />
                  <label class="form-label" for="nombreUsuario">Usuario</label>
                  </div>

                  <div class="mb-3">
                    <input type="password" id="password" name="password" class="form-control form-control-lg" [(ngModel)]="password"
                    required />
                  <label class="form-label" for="password">Password</label>
                  </div>

                  <div class="modal-footer">
                    <button type="submit" class="btn btn-secondary my-3 m-2">
                      <a href="#">Ingresar</a>
                    </button>

                    <button type="button" class="btn btn-primary m-1">
                      <a routerLink="/index">Salir</a>
                    </button>
                  </div>
                </form>
  -->